@page
@model ConfigurationModel
@{
    ViewData["Title"] = "Configuration";
}

<h2>@ViewData["Title"]</h2>

<p>Data loaded from the appsettings.json file.</p>

<p>
    First: @Model.First
</p>
<p>
    Second: @Html.Raw(Model.Second) <br/>
    Using @@Html.Raw(.)
</p>
<p>
    Numbber of doors: @Model.NumberOfDoors
</p>
